.infor-box {
    width: 100%;
}

.btn-infor {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
}

.btn-infor:hover {
    background-color: #35bf76;
    color: white;
    padding: 1rem;
    border: 0px solid black;
}

.submenu {
    height: 300px;
}

.active-infor {
    background-color: #35bf76;
    color: white;
    padding: 1rem;
    border: 0px solid black;
}